@import "tailwindcss";

:root {
  --background: #fcfdfd;
  --default: #1b2528;

  --header-height: 4rem; /* 30px  header height*/
  --max-content-width: 84rem; /* 1344px */
}

@theme inline {
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-geist-mono);

  --max-content-width: var(--max-content-width);

  --color-default: #fcfdfd;
}

body {
  background: var(--background);
  color: var(--default);
  font-family: var(--font-public-sans), Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
